DB_USERNAME=backbone_2022
DB_PASSWORD=dulkemen@2020
DB_HOST=127.0.0.1
DB_PORT=5436
DB_NAME=backbone_2022

MYSQL_ROOT_PASSWORD=iamrootman
MYSQL_PASSWORD=kominfo@2020
MYSQL_DATABASE=backbone_disdikbud
MYSQL_USER=backbone_disdikbud
MYSQL_PORT=33069
MYSQL_HOST=dbmysqlbackbone

GO_API_APP_PORT=1992

URL_DAPO=https://api.data.kemdikbud.go.id/svc/satu-data/pendidikan/v1
API_TOKEN_DAPO=e0df77f5-21af-4bc8-a4c3-0fde7c0df22c
USERNAME_DAPO=backbone_lampungtengah
PASSWORD_DAPO=^2022!lampungtengah#
GOOGLE_CLIENT_ID=673974495016-opm5kqmp6nmv19ub23p6sjo9dtm1dae0.apps.googleusercontent.com

UID=1000
GID=1000

